USE [Vidzy]
GO
/****** Object:  StoredProcedure [dbo].[spAddVideo]    Script Date: 27.07.2017 11:51:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spAddVideo]
(
	@Name varchar(255),
	@ReleaseDate datetime,
	@Genre varchar(255)
)
AS
BEGIN
	DECLARE @GenreId tinyint
	SET @GenreId = (SELECT Id FROM Genres WHERE Name = @Genre)

	INSERT INTO Videos (Name, ReleaseDate, GenreId)
	VALUES (@Name, @ReleaseDate, @GenreId)
END